<div class="container mainbox">
  
  <div class="main">
    <div class="box">
    <span>Roll NO :</span>
    <span>{{stu.RNo}}</span>
    </div>
  
  <div class="box">
    <span>Name :</span>
    <span>{{stu.Name}}</span>
  </div>

  <div class="box">
    <span>Enrollment No :</span>
    <span>{{stu.ENR}}</span>
  </div>
  
  <div class="box">
    <span>Mobile NO. :</span>
    <span>{{stu.Moblie}}</span>
  </div>

  <div class="box">
    <span>SPI :</span>
    <span>{{stu.SPI}}</span>
  </div>

  </div>
</div>